body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
    padding: 0;
    text-align: center;
}

.businesses {
    max-width: 800px;
    margin: 0 auto;
    background-color: orange;
    padding: 20px;
    border-radius: 10px;
}

.business {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: rgb(160, 96, 219);
    text-align: left;
}

.business h2 {
    font-size: 22px;
    color: palevioletred;
}

.business img {
    max-width: 100px;
    display: block;
    margin: 10px 0;
}

.business audio {
    display: block;
    margin-bottom: 10px;
}

.business ul {
    list-style-type: none;
    padding: 0;
}

.business li {
    padding: 5px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

.business li strong {
    color: orange;
}

.business p {
    font-size: 14px;
    color: rgb(91, 156, 194);
}
